<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <!-- 
      报错
     -->
    <!-- <li v-for="todo in todos" v-if="!todo.isComplete">
      {{ todo.name }}
    </li> -->

   <template v-for="todo in todos" :key="todo.id">
      <li v-if="!todo.isComplete">
        {{ todo.name }}
      </li>
    </template>
  </div>
  <script>
    const vm = Vue.createApp({
      data() {
        return {
          todos: [
            {id: 1, name: 'Do the dishes', isComplete: false},
            {id: 2, name: 'Take out the trash', isComplete: false},
            {id: 3, name: 'Mow the lawn', isComplete: true}
          ],    
        }
      }
    });
    vm.mount('#app');
  </script>
</body>
</html>